@font-face {
  font-family:iransans;
  src: url(./../font/iransansdn.woff2);
}
html,
body {
  overflow-x: hidden;
  direction: rtl;
}

body {
  /* padding-top: 56px; */
  font-family: iransans;
  line-height: 30px;
}

@media (max-width: 1000px) {
  .offcanvas-collapse {
    position: fixed;
    top:0; /* Height of navbar */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #26ff72;
    transition: transform .3s ease-out, visibility .3s ease-out;
        transform: translateX(-100%);
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-40%);
  }
}



.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.822);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #000000;
}

.nav-underline .nav-link:hover {
  color: #67809b;
}

.nav-underline .active {
  font-weight: 500;
  color: #000000;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.hover-a:hover{
  color: rgb(0, 98, 255) !important;
}



.button {

  position: relative;
  transition: 0.3s;
}

.button:after {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 2px;
  background: #ff0000;
}

.button:hover:after {
  width: 100%;
  left: 0;
}

li a:hover {
  color: rgb(0, 89, 255) !important;
}

.font-size-h1 {
  font-size: 4rem;
}

.item-abutme {
  box-shadow: 0px 10px 20px 4px #00000015;
  max-width: 370px;
  height: 300px;
}

@media only screen and (max-width: 750px) {
  .item-abutme {
    max-width: 500px;
  }
  .profil {
    outline: 0px solid rgb(0, 110, 255) !important;
  }
}

/* --------------------------------------Skills */
@keyframes growProgressBar {

  0%,
  33% {
      --pgPercentage: 0;
  }

  100% {
      --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 8rem;
  --fg: #369;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background:
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}


@keyframes animesin {
  from {
      width: 0px;
  }

  to {
      width: 30%;
  }

}


.div1 {
  background: rgb(195, 191, 191);
  width: 500px;
  height: 10px;
  border: 1px solid black;
  position: relative;
  transform: rotate(360deg);
  border-radius: 10px;
}

.div1::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 64, 255);
  height: 10px;
  left: 0;
  border-radius: 10px;
  animation: animesin 1s forwards;
}

.wrapper {
  margin: 60px auto;
}

.background {
  background: url(../img/hom.jpg);
  background-position: center;
}

.home-background {
  height: 900px;background-color: #ffffffe0;
}

.profil {
  border-radius: 50%;   
   border: #0000001c solid 20px;
  outline: 20px solid #0000000d;"
}

.background-white {
  background-color: rgba(255, 255, 255, 0.849);
}
.border-radius-30{
  border-radius: 6%;
}
.border-radius-50{
  border: 1px solid blue;
  border-radius: 50%;
}

.webkit-center {
  text-align: -webkit-center;
}
.box-shadow{
  box-shadow: 0px 1px 8px 2px rgb(213 202 202)
}

.owl-nav {
  text-align: center;
  font-size: 58px;
  margin-top: 30px;
}